.card-secondary-wrapper {
    display: grid;
    grid-template-areas: 
        "title"
        "postWrap"
        "details"
        "avatar";
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.card-title {
    grid-area: title;
}

.card-details {
    grid-area: details;
}

.avatar {
    grid-area: avatar;
}

.card-post-wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem; 
}

.card-img {
    flex: 5;
}

.card-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-img img{
    grid-area: image;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.sidebar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.votes {
    flex-direction: column;
}

.card-sidebar .votes,
.card-sidebar .comments {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-sidebar .votes .sidebar-icon,
.card-sidebar .comments .sidebar-icon,
.card-sidebar .votes p,
.card-sidebar .comments p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}


.card-sidebar .votes .sidebar-icon:last-child,
.card-sidebar .comments .sidebar-icon:last-child,
.card-sidebar .votes p:last-child,
.card-sidebar .comments p:last-child {
    margin-right: 0;
}


/* Basic Button Styling Reset*/
button {
    background: none;  /* Remove default background */
    color: inherit;    /* Inherit font color from parent */
    border: none;      /* Remove default border */
    padding: 0;        /* Remove default padding */
    margin: 0;         /* Remove default margin */
    font: inherit;     /* Inherit font from parent */
    cursor: pointer;   /* Maintain cursor style */
    outline: inherit;  /* Inherit focus outline from parent or remove */
}


/* Responsive design: Adjustments for different screen sizes */
@media (max-width: 768px) {
    .card-post-wrap {
        flex-direction: column;
    }

    .card-img, .card-sidebar {
        flex: none;
    }

    .card-sidebar {
        flex-direction: row;
        gap: 1rem;
    }
    
}
