.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    min-height: 4rem;
    background-color: cornflowerblue;
    border-bottom: 5px blue solid;
    position: fixed;
    top: 0;         
    left: 0;        
    width: 100%;    
    z-index: 1000; 
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 3.5rem;
    margin-right: 1rem;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search input {
    width: 60%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
}

.search button {
    margin-left: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: larger;
}

/* Responsive design: Adjustments for different screen sizes */
@media (max-width: 768px) {

    .navbar-logo img {
        height: 3rem;
    }

    .title {
        padding-right: 0.4rem;
    }

    .search {
        width: 100%;
        justify-content: flex-start;
    }

    .search input {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .navbar-logo img {
        height: 2.5rem;
    }

    .title {
        display: none;
    }

    .search input {
        width: 75%;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .navbar-logo img {
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }
  
  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }